.spending-ytd-bar {
  .key-num {
    float: right;
    top: -3px;
    position: relative;
  }
}

.spending-ytd-box {
  .nav-tabs-button {
    //float: left;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-top: 2px;
    @media (min-width: $screen-sm-min) {
      float: left;

    }

  }
}