/*
 * Page: Mailbox
 * -------------
 */
.mailbox-messages {
  background: #FFF;
  > .table {
    margin: 0;
  }
}

.mailbox-controls {
  padding: 5px;
  &.with-border {
    border-bottom: 1px solid $box-border-color;
  }
}

.mailbox-read-info {
  border-bottom: 1px solid $box-border-color;
  padding: 10px;
  h3 {
    font-size: 20px;
    margin: 0;
  }
  h5 {
    margin: 0;
    padding: 5px 0 0 0;
  }
}

.mailbox-read-time {
  color: #999;
  font-size: 13px;
}

.mailbox-read-message {
  padding: 10px;
}

.mailbox-attachments {
  @extend .list-unstyled;
  li {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.mailbox-attachment-name {
  font-weight: bold;
  color: #666;
}

.mailbox-attachment-icon,
.mailbox-attachment-info,
.mailbox-attachment-size {
  display: block;
}

.mailbox-attachment-info {
  padding: 10px;
  background: #f4f4f4;
}

.mailbox-attachment-size {
  color: #999;
  font-size: 12px;
}

.mailbox-attachment-icon {
  text-align: center;
  font-size: 65px;
  color: #666;
  padding: 20px 10px;
  &.has-img {
    padding: 0;
    > img {
      max-width: 100%;
      height: auto;
    }
  }
}

.mailbox-attachment-close {
  @extend .close;
}

// Mailbox tabs
.nav-tabs-ns {
  .tab-content > .tab-pane {
    background: #FCFCFC;
  }
  .tab-pane__header {
    background: #FCFCFC;
    border-bottom: 1px solid black(0.2);
    @include clearfix;
    padding: 20px;
  }
  .tab-pane__header__title {
    display: inline-block;
    h1, p {
      margin: 0;
      color: $shuttle-gray;
    }
    h1 {
      font-size: 24px;
    }
  }
  .tab-pane__utility {
    float: right
  }
  .tab-pane__body {
    padding: 20px;
  }
  .tab-pane_footer {
    @include clearfix;
    padding: 0 20px 20px;
    background: #FCFCFC;
  }
}

//Mailbox table
.inbox-messages {
  background: #FFF;
  tbody > tr > td {
    padding: 15px 8px;
  }

  .table-hover > tbody > tr:hover {
    background: #eaeaeb;

  }
  .unread {
    background: #f3f3f4;
  }
}

.inbox-name {
  font-weight: 700;
  a {
    color: $congress-blue;

  }
}

.inbox-subject a {
  color: $shark;
}

// Pagination
.mailbox-pagination {
  button {
    padding: 6px 11px 7px;
  }
}